body {
  overflow-x: hidden;
}
.home-container {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: rgba(128, 128, 128, 0.5);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}

.home-navbar {
  width: 100%;
  display: flex;
  max-height: var(--dl-size-size-xsmall);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #355797;
}

.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: row-reverse;
}

.home-text {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}

.home-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

.home-image {
  height: 18px;
}

.home-space {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.home-space1 {
  flex: 1;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 0, 0);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
}

.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-image1 {
  object-fit: cover;
}

.home-burger-menu {
  display: none;
}

.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.home-logo {
  height: 2rem;
}

.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-login {
  margin-right: var(--dl-space-space-twounits);
}

.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.home-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.home-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-head {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-container03 {
  width: var(--dl-size-size-maxwidth);
  height: 128px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("public/background-200h.jpg");
  background-position: center;
}

.home-text06 {
  color: #ffffff;
  font-size: 28px;
  align-self: cen;
  font-style: normal;
  font-weight: 700;
}

.home-container04 {
  flex: 0 0 auto;
  width: 550px;
  margin: var(--dl-space-space-unit);
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  border-color: rgba(61, 63, 65, 0.6);
  border-style: solid;
  border-width: 0.5px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}

.home-headline {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  justify-content: center;
}

.home-container05 {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background-color: #3b82f6;
}

.home-container06 {
  display: contents;
}

.home-container07 {
  width: 60;
  height: 1;
  margin: var(--dl-space-space-unit);
  display: inline-block;
  border-radius: 0px;
  background-color: #3b82f6;
}

.home-container08 {
  display: contents;
}

.home-container09 {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: var(--dl-radius-radius-round);
  background-color: #3b82f6;
}

.home-container10 {
  display: contents;
}

.home-container11 {
  width: 60;
  height: 1;
  margin: var(--dl-space-space-unit);
  display: inline-block;
  background-color: #3b82f6;
}

.home-container12 {
  display: contents;
}

.home-container13 {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: var(--dl-radius-radius-round);
  background-color: #3b82f6;
}

.home-container14 {
  display: contents;
}

.home-textline {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home-container15 {
  display: inline-block;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}

.home-container16 {
  display: contents;
}

.home-container17 {
  display: inline-block;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}

.home-container18 {
  display: contents;
}

.home-container19 {
  display: inline-block;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}

.home-container20 {
  display: contents;
}

.home-get-started {
  color: rgb(61, 63, 65);
  margin: var(--dl-space-space-halfunit);
  font-size: 21.5px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
}

.home-note {
  color: rgb(122, 122, 122);
  margin: var(--dl-space-space-halfunit);
  font-size: 10.5px;
  align-self: flex-start;
}

.home-text18 {
  color: #808080;
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
}

.home-textarea {
  width: 95%;
  border-color: #808080;
}

.home-text19 {
  color: #808080;
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
}

.home-textinput {
  width: 95%;
  align-self: center;
  border-color: #018080;
}

.home-text20 {
  color: rgb(128, 128, 128);
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
}

.home-textinput1 {
  width: 95%;
  align-self: center;
  border-color: #018080;
}

.home-text21 {
  color: rgb(128, 128, 128);
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
}

.home-textinput2 {
  width: 95%;
  align-self: center;
  border-color: #018080;
}

.home-text24 {
  color: rgb(128, 128, 128);
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
}

.home-textinput3 {
  width: 95%;
  align-self: center;
  border-color: #018080;
}

.home-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.home-text25 {
  color: rgb(128, 128, 128);
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
}

.home-container22 {
  align-self: center;
}

.home-container23 {
  display: contents;
}

.home-text26 {
  color: rgb(128, 128, 128);
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
}

.home-textinput4 {
  width: 95%;
  align-self: center;
  border-color: #018080;
}

.home-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.home-text27 {
  color: rgb(128, 128, 128);
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
}

.home-button {
  color: #1877f2;
  width: 95%;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: #dfedff;
}
    .home-container07 {
      margin-left: 30px;
      margin-right: 30px;
      width: 80px;
      height: 1px;
    }

    .home-container11 {
      width: 80px;
      margin-left: 30px;
      margin-right: 30px;
      height: 1px;
    }
@media(max-width: 1200px) {
  .home-container04 {
    margin: var(--dl-space-space-unit);
  }

  .home-headline {
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }

  .home-container05 {
    border-radius: 50%;
  }

  .home-textline {
    margin: 0px;
  }

  .home-container15 {
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }

  .home-container17 {
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }

  .home-container19 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }

  .home-get-started {
    color: rgb(61, 63, 65);
    font-size: 21.5px;
    font-style: normal;
    font-weight: 600;
  }

  .home-note {
    color: rgb(122, 122, 122);
    font-size: 10.5px;
    background-color: rgba(217, 217, 217, 0.2);
  }

  .home-text15 {
    color: #000000;
    font-style: normal;
    font-weight: 700;
  }

  .home-text16 {
    font-style: normal;
    font-weight: 700;
  }

  .home-text18 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }

  .home-text19 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }

  .home-text20 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }

  .home-text21 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }

  .home-text22 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }

  .home-text24 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }

  .home-text25 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }

  .home-text26 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }

  .home-text27 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }

  .home-text28 {
    color: rgb(33, 37, 41);
    align-self: flex-start;
  }
}

@media(max-width: 479px) {
  .home-container {
    overflow-x: hidden;
  }

  .home-navbar {
    padding: var(--dl-space-space-unit);
  }

  .home-mobile-menu {
    padding: 16px;
  }

  .home-container03 {
    width: 479px;
    justify-content: center;
  }

  .home-text06 {
    font-size: 20px;
    align-self: center;
  }

  .home-container04 {
    width: 90%;
    margin: var(--dl-space-space-unit);
    overflow-x: hidden;
  }

  .home-note {
    font-size: 14px;
  }

  .home-container24 {
    position: relative;
    align-self: flex-start;
    align-items: stretch;
    justify-content: space-between;
  }

  .home-container07 {
    margin-left: 20px;
    margin-right: 20px;
    width: 80px;
    height: 1px;
  }

  .home-container11 {
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    height: 1px;
  }

  .home-checkbox {
    top: 0px;
    right: right;
    bottom: 0px;
    margin: auto;
    display: inline-block;
    position: absolute;
    align-self: flex-start;
  }

  .home-text27 {
    margin: var(--dl-space-space-twounits);
  }
}
.bot-container {
  width: 100%;
  display: flex;
  overflow: auto;
  /* min-height: 100vh; */
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.bot-container01 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #4080ff;
}

.bot-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bot-container03 {
  margin: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.bot-image {
  width: 20px;
}

.bot-text {
  color: #ffffff;
  align-self: center;
}

.bot-text01 {
  color: #ffffff;
  margin: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}

.bot-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 220px;
  justify-content: center;
}

.bot-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.bot-text02 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text03 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text04 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text05 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text06 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text07 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text08 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.bot-text09 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text10 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text11 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text12 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text13 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text14 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text15 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.bot-text16 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text17 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text18 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text19 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text20 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text21 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text22 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.bot-text23 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text24 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text27 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text28 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text29 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text32 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text33 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.bot-text36 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text37 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text38 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text39 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text40 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text41 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.bot-text42 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

@media(max-width: 479px) {
  .bot-container04 {
    height: 100%;
    margin: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }

  .bot-text02 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }

  .bot-text03 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text04 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text05 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text06 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text07 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text08 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text09 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }

  .bot-text10 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text11 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text12 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text13 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text14 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text15 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text16 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }

  .bot-text17 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text18 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text19 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text20 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text21 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text22 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text23 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }

  .bot-text24 {
    color: rgb(255, 255, 255);
    margin: var(--dl-space-space-unit);
    font-style: normal;
    font-weight: 400;
  }

  .bot-text25 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text26 {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
  }

  .bot-text27 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text28 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text29 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text32 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text33 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text34 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text36 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }

  .bot-text37 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text38 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text39 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text40 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text41 {
    margin: var(--dl-space-space-unit);
  }

  .bot-text42 {
    margin: var(--dl-space-space-unit);
  }
}